#header {
  height: 50px;
}

#task-manager {
  max-width: 840px;
  float: none;
}

.small-scr {
  margin: 10px 0;
}

.task-parameters{
  border-right: 1px solid #ccc;
}

.add-task-btn {
  border: none;
  border-left: 1px solid #ccc;
}

.priority {
  margin: 0 5px;
}

.destroy {
  right: 0;
  bottom: 0;
  z-index: 4;
  border-radius: 0 4px 4px 0;
  &:hover{
    span {
      color: darken($red, 10);
    }
  }
}

.edit.form-control {
  width: calc(100% - 40px) !important;
  border-radius: 0;
}

#filter-panel {
  margin-bottom: 100px;
}