extends layout

block content
  .main-wrapper.rel
    header#header
    #content
      section#task-manager.center-block.col-xs-12
        section#new-task-section.panel.panel-primary
          .panel-heading
            h1.panel-title.text-center Task Manager
          .input-group
            input#new-task-title.form-control(type='text',placeholder='Title', autofocus='')
            input#new-task.form-control(type='text',placeholder='Task description', autofocus='')
            div.task-parameters.clearfix
              .small-scr.col-xs-12.col-sm-3.col-md-3.col-lg-4
                label.priority(for='priority') Priority
                select#priority(name='priority')
                  option(value='low') Low
                  option(value='medium') Medium
                  option(value='high') High
              .small-scr.col-xs-12.col-sm-5.col-md-5.col-lg-4
                label.priority(for='dead-date') Deadline
                input#dead-date(type='date')
              .small-scr.col-xs-12.col-sm-4
                label.priority(for='dead-hour') Hour
                select#dead-hour(name='dead-hour')
                  option(value='0') 0
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
                  option(value='6') 6
                  option(value='7') 7
                  option(value='8') 8
                  option(value='9') 9
                  option(value='10') 10
                  option(value='11') 11
                  option(value='12') 12
                  option(value='13') 13
                  option(value='14') 14
                  option(value='15') 15
                  option(value='16') 16
                  option(value='17') 17
                  option(value='18') 18
                  option(value='18') 19
                  option(value='20') 20
                  option(value='21') 21
                  option(value='22') 22
                  option(value='23') 23
                label.priority(for='dead-min') Minutes
                select#dead-min(name='dead-min')
                  option(value='0') 0
                  option(value='10') 10
                  option(value='20') 20
                  option(value='30') 30
                  option(value='40') 40
                  option(value='50') 50
            span.input-group-btn
             button.btn.btn-default.add-task-btn(type='btn')
              span.glyphicon.glyphicon-plus
        section#main
          .rel
            input#toggle-all(type='checkbox').hidden
            label(for='toggle-all').fancy
              i
                span.check.abs
            label(for='toggle-all') Mark all as complete
          ul#task-list.list-unstyled
        #filter-panel
  footer#footer
