doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    block content
script(src='/public/javascripts/bundle.js')
