<div>
    <label class="col-xs-12 col-md-6 col-lg-6"><%= title %></label>
    <span class="col-xs-12 col-md-2 col-lg-2"><strong>Created at: </strong><%= createdAt %></span>
    <span class="col-xs-12 col-md-2 col-lg-2"><strong>Priority: </strong><%= priority %></span>
    <span class="col-xs-12 col-md-2 col-lg-2"><strong>Deadline: </strong><%= deadLine %></span>
</div>
<button class="destroy btn abs">
    <span class="glyphicon glyphicon-remove red"></span>
</button>
<div class="input-group col-xs-12">
    <span class="input-group-addon" id="sizing-addon2">
        <div class="view rel">
            <input class="toggle" id="<%=order%>" type="checkbox" <%= completed ? 'checked' : '' %> >
            <label for="<%=order%>" class="fancy abs">
                <i><span class="check abs"></span></i>
            </label>
        </div>
    </span>
    <input class="edit form-control" value="<%= description %>" aria-describedby="sizing-addon2">

</div>
